<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单词书列表</title>
</head>

<body>
    <h1>单词书列表</h1>
    <ul>
        {% for book in book_list %}
        <li>
            <strong>书名：</strong>{{ book.bk_name|safe }} <br>

            <!-- 添加链接到单词列表，index 是循环的顺序从 1 开始 -->
            <a href="{% url 'word_list' index=forloop.counter %}?page=1">{{ book.bk_name }}</a>
            <hr>
        </li>
        {% empty %}
        <li> 没有找到单词书。<br>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
