<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单词列表 - {{ book.bk_name }}</title>
</head>
<body>
    <h1>
        <a href="{% url 'book_list' %}">单词书列表</a> - {{ book.bk_name }}
    </h1>

    <ol>
        {% for word_detail in page_obj %}
            <li>
                <strong>{{ word_detail.word.vc_vocabulary }}</strong> <br>

                <!-- 显示英式和美式音标 -->
                <em>英音: {{ word_detail.phonetic_uk }}</em> <br>
                <em>美音: {{ word_detail.phonetic_us }}</em> <br>

                <!-- 显示单词的翻译 -->
                <strong>中文翻译：</strong>
                <ul>
                    {% if word_detail.translations %}
                        {% for translation in word_detail.translations %}
                            <li>{{ translation }}</li>
                        {% endfor %}
                    {% else %}
                        <li>暂无翻译</li>
                    {% endif %}
                </ul>
            </li>
        {% empty %}
            <li>没有单词信息。</li>
        {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'word_list' index=index %}?page={{ page_obj.previous_page_number }}">« 上一页</a>
            {% endif %}
    
            <span class="current">
                第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页
            </span>
    
            {% if page_obj.has_next %}
                <a href="{% url 'word_list' index=index %}?page={{ page_obj.next_page_number }}">下一页 »</a>
            {% endif %}
        </span>
    </div>

</body>
</html>
